<!DOCTYPE html>
<html lang="en">
<head>
    <base id="base" href="${base}">
    <meta charset="UTF-8">
    <title>个人文章</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css" />
    <script type="text/javascript" src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/layui/layui.js"></script>
</head>
<body>
    您还没有文章，去写文章吧！
<script src="../login/js/TweenLite.min.js"></script>
<script src="../login/js/EasePack.min.js"></script>
<script src="../login/js/rAF.js"></script>
<script src="../login/js/demo-1.js"></script>
</body>
</html>